/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

/* Main container */
#main {
    display: flex;
    /* justify-content: space-between; */
    padding: 40px;
    padding-top: 120px;
    height: 100%;
    width: 100%;
    position: relative;
    gap: 60px;
    justify-content: flex-start;
}

/* Left Section */
#left {
    /* background-color: rgb(1, 155, 104); */
    width: 40%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
    
}

#left h1 {
    font-size: 6rem;
    font-weight: 500;
    line-height: 1.2;
}

#bottom {
    width: 100%;
}

#bottom .color-options {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1.4px solid #404040;
    padding: 8px 16px;
    border-radius: 50px;
    width: fit-content;
}

.color-circle {
    width: 20px;
    height: 20px;
    background-color: #3e634f;
    border-radius: 50%;
    cursor: pointer;
}

#c1{
    background-color: #404040;
}

#bottom h4{
    font-size: 16px;
    font-weight: 500;
    margin-right: 12px;
    border-radius: 50%;
    cursor: pointer;
}

#bottom h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 20px;
    
    
}

#bottom p {
    font-size: 1rem;
    font-weight: 500;
    color: #404040;
    margin-top: 10px;
    width: 60%;
    line-height: 1.4;
}

/* Right Section */
#right {
    /* background-color: rgb(41, 169, 126); */
    width: 40%;
    padding: 0px 20px;
    position: relative;
}

#right-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
    padding-right: 20px;
    width: 90%;
    margin-bottom: 10px;
}

#right-top h3 {
    font-size: 1.5rem;
    font-weight: 600;
}
#right-top h4 {
    font-size: .8rem;
    font-weight: 500;
}



#rating{
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: .8rem;
}

#right img {
    width: 85%;
    height: 92%;
    object-fit: cover;
}

#bgola{
    height: 160px;
    width: 160px;
    background-color: #404040;
    position: absolute;
    border-radius: 50%;
    top: 40%;
    left: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

#bgola h5{
    font-size: 20px;
    font-weight: 500;
}

#rotated{
    position: absolute;
    left: 0;
    bottom: 5%;
    rotate: -90deg;
    transform-origin: 0;
}

#rotated h4{
    font-size: 20px;
    font-weight: 600;
}

@media (max-width:600px) {
    /* Main container */
#main {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 32px;
    
    height: 100%;
    width: 100%;
    position: relative;
    gap: 40px;
    justify-content: flex-start;
}

/* Left Section */
#left {
    /* background-color: rgb(1, 155, 104); */
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
    
}

#left h1 {
    font-size: 48px;
    font-weight: 500;
    line-height: 1.2;
}

#bottom {
    width: 100%;
    margin-top: 40px;
    /* background-color: #cacaca; */
}

#bottom .color-options {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1.4px solid #404040;
    padding: 8px 16px;
    border-radius: 50px;
    width: fit-content;
}

.color-circle {
    width: 16px;
    height: 16px;
    background-color: #3e634f;
    border-radius: 50%;
    cursor: pointer;
}

#c1{
    background-color: #404040;
}

#bottom h4{
    font-size: 14px;
    font-weight: 500;
    margin-right: 12px;
    border-radius: 50%;
    cursor: pointer;
}

#bottom h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 20px;
    
    
}

#bottom p {
    font-size: 1rem;
    font-weight: 500;
    color: #404040;
    margin-top: 10px;
    width: 100%;
    line-height: 1.4;
}

/* Right Section */
#right {
    /* background-color: rgb(41, 169, 126); */
    width: 100%;
    padding: 0px 20px;
    position: relative;
}

#right-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
    padding-right: 20px;
    width: 90%;
    margin-bottom: 10px;
}



#bgola{
    height: 120px;
    width: 120px;
    background-color: #404040;
    position: absolute;
    border-radius: 50%;
    top: 40%;
    left: 62%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

#bgola h5{
    font-size: 14px;
    font-weight: 500;
}



}